Package: com.pookjw.kaccine
Name: Kaccine
Version: 1.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
